@font-face {
  font-family: alpha;
  src: url(../public/font/JetBrainsMono-Bold.woff2);
}
@font-face {
  font-family: alpha1;
  src: url(../public/font/gc.otf);
}
@font-face {
    font-family: og;
    src: url(../public/font/og.otf);
  }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
.main {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #111;
}
.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #555; */
  z-index: 8;
}
#stickButton {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    z-index: 10; 
}
#heading {
    font-family: og;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
    font-weight: 100;
    /* letter-spacing: 0.1rem; */
    /* color: thistle; */
    /* color: rgba(245, 245, 245, 0.234); */
    color: rgb(55, 55, 55);
}